@import '../palette';
@import '../bootstrap/variables';

body {
    background-color: $pale-yellow;
}

#currency-exchange-rate-table {
    width: 100%;

    th {
        font-family: $font-family-medium;
    }

    thead {
        tr {
            th {
                border-bottom: 0;
            }
        }
    }

    tbody {
        tr:first-child {
            background-color: $pale-yellow;
            cursor: pointer;
        }

        tr {
            th {
                border-top: 2px solid $primary-color;
            }

            td {
                border-top: 1px solid $more-pale-yellow;
            }

            td.buying-price {
                color: $info-color;
            }

            td.selling-price {
                color: $danger-color;
            }
        }
    }

    .large-label {
        font-size: 18px;
        padding: 0 16px;
    }

    ul.currency-flag {
        padding: 0;
        margin-bottom: 0;

        li:first-child {
            margin-right: 4px;
        }

        li {
            display: inline-block;

            .flag-icon {
                font-size: 20px;
            }
        }
    }
}

.banknote-form {
    padding: 10px 0;

    &:not(:last-child) {
        border-bottom: 1px solid $light-grey;
    }
}
