body {
  background-color: #eadca8;
}

#currency-exchange-rate-table {
  width: 100%;
}

#currency-exchange-rate-table th {
  font-family: "Athiti Medium";
}

#currency-exchange-rate-table thead tr th {
  border-bottom: 0;
}

#currency-exchange-rate-table tbody tr:first-child {
  background-color: #eadca8;
  cursor: pointer;
}

#currency-exchange-rate-table tbody tr th {
  border-top: 2px solid #edbc0e;
}

#currency-exchange-rate-table tbody tr td {
  border-top: 1px solid #ede4c4;
}

#currency-exchange-rate-table tbody tr td.buying-price {
  color: #063d94;
}

#currency-exchange-rate-table tbody tr td.selling-price {
  color: #d20931;
}

#currency-exchange-rate-table .large-label {
  font-size: 18px;
  padding: 0 16px;
}

#currency-exchange-rate-table ul.currency-flag {
  padding: 0;
  margin-bottom: 0;
}

#currency-exchange-rate-table ul.currency-flag li:first-child {
  margin-right: 4px;
}

#currency-exchange-rate-table ul.currency-flag li {
  display: inline-block;
}

#currency-exchange-rate-table ul.currency-flag li .flag-icon {
  font-size: 20px;
}

.banknote-form {
  padding: 10px 0;
}

.banknote-form:not(:last-child) {
  border-bottom: 1px solid #e8eaea;
}

.flag-icon-euro {
  background-image: url(/images/euro.png?467187db94a0e2304f60f40da521aa32);
}

