$primary-color: #edbc0e;

$pale-yellow: #eadca8;

$more-pale-yellow: #ede4c4;

$success-color: #23d160;

$danger-color: #d20931;

$info-color: #063d94;

$white: #fff;

$light-grey: #e8eaea;

$white-grey: #f7f7f7;

