@font-face {
  font-family: 'Athiti';
  src: url('../fonts/athiti-regular-webfont.eot');
  src: url('../fonts/athiti-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/athiti-regular-webfont.woff2') format('woff2'),
  url('../fonts/athiti-regular-webfont.woff') format('woff'),
  url('../fonts/athiti-regular-webfont.ttf') format('truetype'),
  url('../fonts/athiti-regular-webfont.svg#athitiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Athiti Medium';
  src: url('../fonts/athiti-medium-webfont.eot');
  src: url('../fonts/athiti-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/athiti-medium-webfont.woff2') format('woff2'),
  url('../fonts/athiti-medium-webfont.woff') format('woff'),
  url('../fonts/athiti-medium-webfont.ttf') format('truetype'),
  url('../fonts/athiti-medium-webfont.svg#athitisemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Athiti SemiBold';
  src: url('../fonts/athiti-semibold-webfont.eot');
  src: url('../fonts/athiti-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/athiti-semibold-webfont.woff2') format('woff2'),
  url('../fonts/athiti-semibold-webfont.woff') format('woff'),
  url('../fonts/athiti-semibold-webfont.ttf') format('truetype'),
  url('../fonts/athiti-semibold-webfont.svg#athitibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Athiti Bold';
  src: url('../fonts/athiti-bold-webfont.eot');
  src: url('../fonts/athiti-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/athiti-bold-webfont.woff2') format('woff2'),
  url('../fonts/athiti-bold-webfont.woff') format('woff'),
  url('../fonts/athiti-bold-webfont.ttf') format('truetype'),
  url('../fonts/athiti-bold-webfont.svg#athitibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
